.lsform {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: var(--no-room);
  color: var(--gen-font);
}

.whatsapp__image {
  height: 30vh;
  margin-bottom: 3vh;
  object-fit: contain;
}

.lsform > form {
  display: flex;
  flex-direction: column;
}

.lsform > form > button {
  background: rgb(81, 205, 94);
  background: linear-gradient(
    225deg,
    rgba(81, 205, 94, 1) 0%,
    rgba(40, 181, 62, 1) 35%
  );
  border: none;
  color: white;
  font-size: 16px;
  padding: 10px;
  margin-top: 10px;
  border-radius: 10px;
  display: block;
  cursor: pointer;
  outline: none;
}

.signInMethod {
  font-size: small;
  margin-top: 10px;
}

.signInMethod > span {
  color: blue;
  cursor: pointer;
}

.signInMethod > span:hover {
  text-decoration: underline;
}

.errMessage {
  color: red;
  margin-top: 5px;
  font-size: medium;
}

#name,
#email,
#password {
  color: var(--gen-font) !important;
}

#email::placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: gray !important;
  opacity: 1; /* Firefox */
}

:-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  color: gray !important;
}

::-ms-input-placeholder {
  /* Microsoft Edge */
  color: gray !important;
}

.ls__labels {
  color: var(--gen-font) !important;
}
